.container {
  width: 150px;
  height: 150px;
  overflow: scroll;
}

.container:hover {
  background-color: #F1F1F1;
  cursor: pointer;
}

.number {
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

td {
  border: 2px solid #959595;
  padding: 0px;
}

.reminderContainer {
  padding: 2px;
}

.reminderContainer button {
  width: 100%;
}

.reminder {
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 7px;
}

.reminderInfo {
  overflow: auto;
}